body {
    background-color: #fef6f5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* Specific layout styles, for amongst others footer */
* {
    box-sizing: border-box
}

@font-face {
    font-family: WorkSansBold;
    src: url(fonts/WorkSans-Bold.ttf);
}

@font-face {
    font-family: WorkSansRegular;
    src: url(fonts/WorkSans-Regular.ttf)
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

h1 {
    font-size: 2em;
    font-family: WorkSansBold;
    color:#c87d52

}

h2,
h3,
h4 {
    font-family: WorkSansRegular
}

h2 {
    font-weight: bolder;
}

#promo-header {
    font-family: WorkSansBold;
    text-transform: small-caps;
}

nav {
    height: 80px;
    width: 1000px;
    margin: 0 auto 10px;
}

#main-header {
    background-color: #c87d52
}

#main-content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#left-menu {
    float: left;
    width: 30%;
    padding-top: 20px;
    padding-right: 50px;
}

#main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
}

footer {
    clear: both;
    width: 100%;
    background-color: #ffd0c9;
    padding: 30px;
}

.menu-logo {
    width: 175px;
    margin-right: 30px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.page-header-small {
    font-family: WorkSansRegular;
    color: black;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    font-size 1.1em;
    letter-spacing: 0.2rem;
}

/* PRACTICE FOR PLAYGROUND

h1 {
    font-family:verdana;
    font-weight:bold;
    color:#c87d52

}

h2 {
    text-decoration: underline;
}

#promo {
    background-color: brown;
    color: white;
    font-weight: bold;
}

.intro-text{
    font-size: small;
}

.intro-text h3 {
    font-size: 20px;
    color: #c87d52;
}

a:link {
    color: #c87d52
}

a:visited {
    color: brown;
}

a:hover {
    color: #c87d52
}

a:active {
    color: lightcoral;
}

.main-content > p {
    background-color: #c87d52
} */